body {
  background: radial-gradient(
    ellipse farthest-corner at 45px 45px,
    #00ffff 0%,
    #4ed8a0 50%,
    #93d84e 95%
  );
}
#root {
  color: #333;
  text-align: center;
  background: #fff;
  width: 300px;
  margin: 200px auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0px #333;
}

.btn {
  background-color: #4ed8a0;
  color: #fff;
  margin: 0 5px;
  border: 1px solid #4ed8a0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 0 1px #2d7a5b;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

#display {
  display: flex;
  justify-content: center;
  margin: 20px;
  position: relative;
  background: linear-gradient(to right, #00ffff, purple);
  padding: 3px;
  color: #fff;
}

#text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: black;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}
